<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN" "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">
<web-app id="WebApp_ID">
	<display-name>GtJavaSdkDemo</display-name>

	<!-- 极验验证码  start -->
	<servlet>
		<servlet-name>StartCaptchaServlet</servlet-name>
		<servlet-class>cn.edu.ncu.newmedia.util.verification.StartCaptchaServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StartCaptchaServlet</servlet-name>
		<url-pattern>/gt/register2</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>VerifyLoginServlet</servlet-name>
		<servlet-class>cn.edu.ncu.newmedia.util.verification.VerifyLoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>VerifyLoginServlet</servlet-name>
		<url-pattern>/gt/ajax-validate2</url-pattern>
	</servlet-mapping>

	<!-- 极验验证码  end -->

	<!-- 注册  -->
	<servlet>
		<servlet-name>RegisterServlet</servlet-name>
		<servlet-class>cn.edu.ncu.newmedia.servlet.RegisterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterServlet</servlet-name>
		<url-pattern>register</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>